{{ $unique_id := substr (md5 .Inner) 0 16 }}<svg class="play-audio" onclick="play({{$unique_id}})" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M0 0h24v24H0z" fill="none"/><path d="M8 5v14l11-7z"/></svg><style>
  svg.play-audio.play-audio {
    display: inline-block;    
    margin: -0.125em;
    height:1em;
    width:1em;
  }

  svg.play-audio.play-audio:hover {
    cursor: pointer;
  }
</style><audio id="{{$unique_id}}">
  {{ if .IsNamedParams }}
    <source src="{{.Get "src" }}" alt="" type="audio/mp3">
  {{ else }}
    <source src="{{.Get 0}}" alt="" type="audio/mp3">
  {{ end }}
</audio><script>
  function play(unique_id) {
    var audio = document.getElementById(unique_id);
    audio.play();
  }
</script>